<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Country List</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/stuff"><i class="material-icons left">list</i>List</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="btn red">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="btn blue">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
             <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
             <li><a href="/stuff"><i class="material-icons left">list</i>Inventory</a></li>
             <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="btn red">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="btn blue">Login</a></li>
            <% } %>
        </ul>
    </header>

    <div class="container">
      <h1>Country Info</h1>
      <table>
        <thead>

            <tr>
                <th>Country</th>
                <th>Population</th>
                <th>GDP</th>
            </tr>

        </thead>
        <tbody>
            <% for (let i = 0; i < Countries.length; i++) { %>
            
            <tr>
                <td><%=Countries[i].country_name %></td>
                <td><%=Countries[i].country_population %></td>
                <td><%=Countries[i].country_gdp %></td>
                <td>
                    <a class="btn-small waves-effect waves-light" 
                        href=<%="/stuff/item/" + Countries[i].CountryID %>>
                        <i class="material-icons right">edit</i>
                        Info/Edit
                    </a>
                    <a class="btn-small waves-effect waves-light red" href=<%="/stuff/item/" + Countries[i].CountryID+"/delete" %>>
                      <i class="material-icons right">delete</i>
                      Delete
                    </a>
                </td>
            </tr>
            <% } %>

        </tbody>
    </table>
          <h1>Add Country</h1>
          <form method="post" action="/stuff"> <!-- default action is the page's URL --> 
            <div class="row">
                <div class="input-field col s6">
                    <label for="nameInput">Country Name:</label>
                    <input type="text" name="country_name" id="nameInput" class="validate" data-length="32" required>
                </div>
                <div class="input-field col s6">
                  <label for="nameInput">Country Population:</label>
                  <input type="text" name="country_population" id="nameInput" class="validate" data-length="32" required>
                </div>
                <div class="input-field col s6">
                  <label for="nameInput">Country GDP:</label>
                  <input type="text" name="country_gdp" id="nameInput" class="validate" data-length="32" required>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit"><i
                    class="material-icons right">send</i>Submit</button>
        </form>
    </div>
</body>
</html>